@charset "UFT-8";

        body {
            background-color: #eae7e0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: #7c5128;
            background-color: #d8b998;
        }

        h2 {
            color: #6d451c;
        }

        p {
            text-align: justify;
        }